<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.0"?>

<plugin>
    <extension
            id="StreamDeckForProtegePluginInitializer"
            name="Control Protégé using an Elgato Stream Deck device"
            point="org.protege.editor.core.application.EditorKitHook">
        <class value="xyz.aspectowl.protege.streamdeck.StreamDeckEditorKitHook"/>
        <editorKitId value="OWLEditorKit"/>
    </extension>
</plugin>
